#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}


/*Estilos para los nav.*/
.nav-pri {
  background-color: #e6e7e6;
  font-size: 17px;
}

.color-footer {
  background-color: #e6e7e6;
}
.base-footer {
  background-color: #0e6856;
  padding: 0px;
}

.icono-redes {
  background-color: #212529;
  color: #ffffff;
  border-radius: 30%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
