#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

/*Estilos para los nav.*/
.nav-pri {
  background-color: #e6e7e6;
  font-size: 17px;
}

.color-footer {
  background-color: #e6e7e6;
}
.base-footer {
  background-color: #0e6856;
  padding: 0px;
}

.icono-redes {
  background-color: #212529;
  color: #ffffff;
  border-radius: 30%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

/* clase para la imagen de inicio */
.imgInicio {
  object-fit: cover;
  width: 100%;
  height: 300px;
  box-shadow: grey 0px 2px 15px;
}

/* estilos del carrusel*/
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators [data-bs-target] {
  filter: invert(100%); /* blanco */
}

.imgCarrusel {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carruselCard {
  display: inline-block;
}

.cardTamanio {
  width: 300px;
  height: 100%;
  box-shadow: grey 0px 1px 15px;
}

/* estilos del equipo de profesionales */
.profeImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

/* media querys */
@media (min-width: 768px) {
  /* tablet */
  .imgInicio {
    height: 300px;
  }
  .carruselCard {
    display: flex;
  }
  .cardTamanio {
    width: 50%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  /* computadora */
  .imgInicio {
    width: 100%;
    height: 100%;
  }
  .carruselCard {
    display: flex;
  }
  .cardTamanio {
    width: 50%;
    height: 22rem;
  }
  .imgCarrusel {
    height: 300px;
    width: 300px;
  }
}
