#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}


/*Estilos para los nav.*/
.nav-pri {
  background-color: #e6e7e6;
  font-size: 17px;
}

.color-footer {
  background-color: #e6e7e6;
}
.base-footer {
  background-color: #0e6856;
  padding: 0px;
}

.icono-redes {
  background-color: #212529;
  color: #ffffff;
  border-radius: 30%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

/* clase para la imagen de inicio */
.imgInicio {
  object-fit: cover;
  width: 100%;
  height: 300px;
  box-shadow: grey 0px 2px 15px;
}

/* estilos del carrusel*/
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators [data-bs-target] {
  filter: invert(100%); /* blanco */
}

.imgCarrusel {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carruselCard {
  display: inline-block;
}

.cardTamanio {
  width: 300px;
  height: 100%;
  box-shadow: grey 0px 1px 15px;
}

/* Estilos para la seccion de opiniones */
.opinionImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*Estilos para el 404*/
#pag404 {
  background-color: #789880;
}

#img404 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/*Login*/

.color-lg {
background-color: #e6e7e6;
}
.color-centro {
background-color: #e6e7e634;
}

/* formulario para solicitar turnos */
.formulario-turnos {
  display: inline;
}
.inputsTamanio {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

/* media querys */
@media (min-width: 768px) {
  /* tablet */
  .imgInicio {
    height: 300px;
  }
  .carruselCard {
    display: flex;
  }
  .cardTamanio {
    width: 50%;
    height: 100%;
  }
  .formulario-turnos {
  display: flex;
}
}

@media (min-width: 1024px) {
  /* computadora */
  .imgInicio {
    width: 100%;
    height: 100%;
  }
  .carruselCard {
    display: flex;
  }
  .cardTamanio {
    width: 50%;
    height: 22rem;
  }
  .imgCarrusel {
    height: 300px;
    width: 300px;
  }
}

.From-register {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  background-color: #e6e7e6be;
}

.img-register {
  width: 100%;
  max-width: 300px; 
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  border-radius: 50%;
  border:  1px solid #212529;
  display: block;
  margin: 0 auto;
  transition: border-radius 0.6s ease-in-out, box-shadow 0.25s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}

.img-register:hover {
  border-radius: 8px; 
  box-shadow: 0 8px 20px rgba(0,0,0,0.11);
  border: none;
}

@media (max-width: 576px) {
  .img-register {
    max-width: 200px;
  }
}


.card-img-miembro {
  width: 100%;
  height: 300px;
  border-radius: 90%;
  object-fit: cover;
}

.card-miembro{
  background-color: #F5F9F6 ;
}

.custom-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}