#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}


/*Estilos para los nav.*/
.nav-pri {
  background-color: #e6e7e6;
  font-size: 17px;
}

.color-footer {
  background-color: #e6e7e6;
}
.base-footer {
  background-color: #0e6856;
  padding: 0px;
}
.nosotro {
  background-color: #e6e7e6;
}

.mmd {
  background-color: #49796f5e;
}

.img-logo {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

/* clase para lel carrusel de inicio */
.imagen-Carousel {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.captionInicio {
  background-color: #0e68565c;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgb(59, 112, 90) 0px 1px 8px;
}

/* estilos del carrusel*/
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators [data-bs-target] {
  filter: invert(100%); 
}

.imgCarrusel {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

@media (min-width: 992px) { /* pantallas grandes */
  .imgCarrusel {
    height: 500px;
  }
}


.carruselCard {
  display: inline-block;
}

.cardTamanio {
  width: 300px;
  height: 100%;
  box-shadow: grey 0px 1px 15px;
}

/* Estilos para la seccion de opiniones */
.opinionImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*Estilos para el 404*/
#pag404 {
  background-color: #789880;
}

#img404 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/*Login*/

.color-lg {
  background-color: #e6e7e6;
}
.color-centro {
  background-color: #e6e7e634;
}

/* formulario para solicitar turnos */
.formulario-turnos {
  display: inline;
}
.inputsTamanio {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

/* media querys */
@media (min-width: 768px) {
  /* tablet */
  .imgInicio {
    height: 300px;
  }
  .carruselCard {
    display: flex;
  }
  .cardTamanio {
    width: 50%;
    height: 100%;
  }
  .formulario-turnos {
  display: flex;
}
}

@media (min-width: 1024px) {
  /* computadora */
  .imgInicio {
    width: 100%;
    height: 100%;
  }
  .carruselCard {
    display: flex;
  }
  .cardTamanio {
    width: 50%;
    height: 22rem;
  }
  .imgCarrusel {
    height: 300px;
    width: 300px;
  }
}


/* Encabezado de bienvenida */
#bordeBienvenida {
  border: 2px solid #0e6856;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0;
  font-weight: bold;
  color: #0e6856;
  background-color: #d2e5e0;
}

#btn-agregar {
  background-color: #0e6856;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-agregar:hover {
  background-color: #0c5647;
}

.table thead {
  background-color: #0e6856;
  color: white;
}

.icon-btn {
  background: none; 
  border: none;     
  padding: 5px;     
  font-size: 1.2rem;
  cursor: pointer; 
}

.icon-btn:focus {
  outline: none;    
}

.icon-btn:hover {
  opacity: 0.7;     
}

.From-register {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  background-color: #e6e7e6be;
}

.img-register {
  width: 100%;
  max-width: 300px; 
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  border-radius: 50%;
  border:  1px solid #212529;
  display: block;
  margin: 0 auto;
  transition: border-radius 0.6s ease-in-out, box-shadow 0.25s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}

.img-register:hover {
  border-radius: 8px; 
  box-shadow: 0 8px 20px rgba(0,0,0,0.11);
  border: none;
}

@media (max-width: 576px) {
  .img-register {
    max-width: 200px;
  }
}


.card-img-miembro {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  transition: border-radius 0.3s ease, transform 0.3s ease;
}

.card-img-miembro:hover {
  transform: scale(1.05); 
  border-radius: 8px; 
}


.card-miembro {
  border: 1px solid #212529;
  border-radius: 12px; 
  overflow: hidden;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  height: 100%;
  user-select: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #f8f9fa; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-miembro:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px); 
}

.card-img-miembro {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: border-radius 0.4s ease, transform 0.4s ease;
  margin-bottom: 15px;
}

.card-img-miembro:hover {
  transform: scale(1.1);
  border-radius: 12px; 
}


.card-header-miembro {
  border-top: 1px solid #212529;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background-color: #f8f9fa; 
}

.card-nombre {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-red {
  padding: 0.5rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-red:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}



.custom-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icono-redes {
  background-color: #212529;
  color: #ffffff;
  border-radius: 30%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: 500ms;
}

/* Instagram */
.icono-redes.instagram:hover {
  box-shadow: 0 0 12px #e1306c; 
  color: #e1306c; 
  transform: scale(1.1);
  transition: 500ms;
}

/* Facebook */
.icono-redes.facebook:hover {
  box-shadow: 0 0 12px #1877f2; 
  color: #1877f2; 
  transform: scale(1.1);
  transition: 500ms;
}

/* TikTok */
.icono-redes.tiktok:hover {
  box-shadow: 0 0 12px #69c9d0; 
  color: #69c9d0; 
  transform: scale(1.1);
  transition: 500ms;
}

/* YouTube */
.icono-redes.youtube:hover {
  box-shadow: 0 0 12px #ff0000; 
  color: #ff0000; 
  transform: scale(1.1);
  transition: 500ms;
}

.footer-links li a {
  color: #212529;
  text-decoration: none;
  display: inline;
  transition: color 0.3s ease, text-shadow 0.4s ease;
}

.footer-links li a:hover {
  color: #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.footer-li li,
.footer-li li i {
  color: #212529;
}

/*Segunda lista*/
.footer-links li a,
.footer-li li {
  color: #212529;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.4s ease;
}

.footer-links li a:hover,
.footer-li li:hover {
  color: #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
  height: 100%;
  user-select: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.cardInicio{
  background-color: #0e685677;;
}

/* === Servicios (CARRUSEL) === */

.servicioCard {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  box-shadow: grey 0px 1px 15px;
  background: #fff;
}

/* Contenedor: imagen 40% + texto 60% */
.servicioContent {
  display: flex;
  gap: 20px;
  padding: 10px;
}

/* Imagen 40% */
.servicioImg {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

/* Texto */
.servicioBody {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer siempre abajo */
.servicioFooter {
  margin-top: auto;
}

/* === Responsive === */
@media (max-width: 768px) {
  .servicioContent {
    flex-direction: column;
    text-align: center;
  }

  .servicioImg {
    width: 100%;
  }

  .servicioBody {
    width: 100%;
  }
}

.boton-turno {
  background-color: #008080;
  color: #e0ffff;
  border: 2px solid #005f5f; 
  border-radius: 6px; 
  padding: 7px 15px; 
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s ease-in-out; 
}

.boton-turno:hover {
  background-color: #009999; 
  border-color: #008080; 
  box-shadow: 0 5px 15px rgba(0, 128, 128, 0.6);
  transform: translateY(-2px); 
}

.boton-turno i {
  margin-right: 10px;
  font-size: 18px;
}

.Servicios-Img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
}
