#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

/*Estilos para los nav.*/
.nav-pri {
  background-color: #e6e7e6;
  font-size: 17px;
}

.color-footer {
  background-color: #e6e7e6;
}
.base-footer {
  background-color: #0e6856;
  padding: 0px;
}

.icono-redes {
  background-color: #212529;
  color: #ffffff;
  border-radius: 30%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: 500ms;
}

/* Instagram */
.icono-redes.instagram:hover {
  box-shadow: 0 0 12px #e1306c; 
  color: #e1306c; 
  transform: scale(1.1);
  transition: 500ms;
}

/* Facebook */
.icono-redes.facebook:hover {
  box-shadow: 0 0 12px #1877f2; 
  color: #1877f2; 
  transform: scale(1.1);
  transition: 500ms;
}

/* TikTok */
.icono-redes.tiktok:hover {
  box-shadow: 0 0 12px #69c9d0; 
  color: #69c9d0; 
  transform: scale(1.1);
  transition: 500ms;
}

/* YouTube */
.icono-redes.youtube:hover {
  box-shadow: 0 0 12px #ff0000; 
  color: #ff0000; 
  transform: scale(1.1);
  transition: 500ms;
}

.img-logo {
  width: 44px;
  height: 44px;
  object-fit: cover;
}
